node_modules
.pnpm-store
dist
.next
.turbo
out
build
*.local
.env
.env.*
!.env.example
drizzle
*.tsbuildinfo
.DS_Store
Thumbs.db
packages/*/test/*.js
packages/*/test/*.d.ts
packages/*/test/*.d.ts.map
packages/*/test/*.js.map
